<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aygxy.fmaket.goods.dao.GoodsSearchMapper" >
  <resultMap id="BaseResultMap" type="com.aygxy.fmaket.goods.entity.GoodsSearch" >
    <id column="searchId" property="searchId" jdbcType="VARCHAR"/>
    <result column="goodsId" property="goodsId" jdbcType="VARCHAR"/>
    <result column="keyWords" property="keyWords" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    searchId, goodsId, keyWords
  </sql>
  
  <select id="matchKeyWords" resultMap="BaseResultMap" resultType="List" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM goods_search
    WHERE MATCH(`keyWords`) AGAINST (#{text,jdbcType=VARCHAR})
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from goods_search
    where searchId = #{searchId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByGoodsId" parameterType="java.lang.String" >
    delete from goods_search
    where goodsId = #{goodsId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.aygxy.fmaket.goods.entity.GoodsSearch" >
    insert into goods_search (searchId, goodsId, keyWords)
    values (#{searchId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{keyWords,jdbcType=VARCHAR})
  </insert>
  
</mapper>