<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aygxy.fmaket.user.dao.PhoneCodeMapper" >
  <resultMap id="BaseResultMap" type="com.aygxy.fmaket.user.entity.PhoneCode" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="creatTime" property="creatTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, code, creatTime
  </sql>
  
  <select id="selectAllPhoneCode" resultMap="BaseResultMap" resultType="List">
    select 
    <include refid="Base_Column_List" />
    from phonecode
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from phonecode
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from phonecode
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from phonecode
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByPhoneNum" parameterType="java.lang.String" >
    delete from phonecode
    where phone = #{phone,jdbcType=VARCHAR}
  </delete>
  
  
  <insert id="insert" parameterType="com.aygxy.fmaket.user.entity.PhoneCode" >
    insert into phonecode (id, phone, code, creatTime
      )
    values (#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.aygxy.fmaket.user.entity.PhoneCode" >
    update phonecode
    set code = #{code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>