<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aygxy.fmaket.user.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.aygxy.fmaket.user.entity.UserInfo" >
    <id column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="userSex" property="usersex" jdbcType="INTEGER" />
    <result column="userAge" property="userage" jdbcType="INTEGER" />
    <result column="userAddress" property="useraddress" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="qqNumber" property="qqnumber" jdbcType="VARCHAR" />
    <result column="wxNumber" property="wxnumber" jdbcType="VARCHAR" />
    <result column="colleage" property="colleage" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="userIcon" property="usericon" jdbcType="VARCHAR" />
    <result column="userPhone" property="userphone" jdbcType="VARCHAR" />
    <result column="validateNumber" property="validatenumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userId, userSex, userAge, userAddress, nickName, signature, qqNumber, wxNumber, colleage, 
    school, userIcon, userPhone, validateNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where userId = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_info
    where userId = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aygxy.fmaket.user.entity.UserInfo" >
    insert into user_info (userId, userSex, userAge, 
      userAddress, nickName, signature, 
      qqNumber, wxNumber, colleage, 
      school, userIcon, userPhone, 
      validateNumber)
    values (#{userid,jdbcType=VARCHAR}, #{usersex,jdbcType=INTEGER}, #{userage,jdbcType=INTEGER}, 
      #{useraddress,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{qqnumber,jdbcType=VARCHAR}, #{wxnumber,jdbcType=VARCHAR}, #{colleage,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{usericon,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, 
      #{validatenumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aygxy.fmaket.user.entity.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userId,
      </if>
      <if test="usersex != null" >
        userSex,
      </if>
      <if test="userage != null" >
        userAge,
      </if>
      <if test="useraddress != null" >
        userAddress,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="qqnumber != null" >
        qqNumber,
      </if>
      <if test="wxnumber != null" >
        wxNumber,
      </if>
      <if test="colleage != null" >
        colleage,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="usericon != null" >
        userIcon,
      </if>
      <if test="userphone != null" >
        userPhone,
      </if>
      <if test="validatenumber != null" >
        validateNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        #{usersex,jdbcType=INTEGER},
      </if>
      <if test="userage != null" >
        #{userage,jdbcType=INTEGER},
      </if>
      <if test="useraddress != null" >
        #{useraddress,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="qqnumber != null" >
        #{qqnumber,jdbcType=VARCHAR},
      </if>
      <if test="wxnumber != null" >
        #{wxnumber,jdbcType=VARCHAR},
      </if>
      <if test="colleage != null" >
        #{colleage,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="usericon != null" >
        #{usericon,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="validatenumber != null" >
        #{validatenumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aygxy.fmaket.user.entity.UserInfo" >
    update user_info
    <set >
      <if test="usersex != null" >
        userSex = #{usersex,jdbcType=INTEGER},
      </if>
      <if test="userage != null" >
        userAge = #{userage,jdbcType=INTEGER},
      </if>
      <if test="useraddress != null" >
        userAddress = #{useraddress,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="qqnumber != null" >
        qqNumber = #{qqnumber,jdbcType=VARCHAR},
      </if>
      <if test="wxnumber != null" >
        wxNumber = #{wxnumber,jdbcType=VARCHAR},
      </if>
      <if test="colleage != null" >
        colleage = #{colleage,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="usericon != null" >
        userIcon = #{usericon,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null" >
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="validatenumber != null" >
        validateNumber = #{validatenumber,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aygxy.fmaket.user.entity.UserInfo" >
    update user_info
    set userSex = #{usersex,jdbcType=INTEGER},
      userAge = #{userage,jdbcType=INTEGER},
      userAddress = #{useraddress,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      qqNumber = #{qqnumber,jdbcType=VARCHAR},
      wxNumber = #{wxnumber,jdbcType=VARCHAR},
      colleage = #{colleage,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      userIcon = #{usericon,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      validateNumber = #{validatenumber,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>