<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aygxy.fmaket.foundcase.dao.FoundCaseMapper" >
  <resultMap id="BaseResultMap" type="com.aygxy.fmaket.foundcase.entity.FoundCase" >
    <id column="fdcId" property="fdcid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="fdcType" property="fdctype" jdbcType="INTEGER"/>
    <result column="fdcTitle" property="fdctitle" jdbcType="VARCHAR" />
    <result column="fdcTime" property="fdctime" jdbcType="TIMESTAMP" />
    <result column="fdcContext" property="fdccontext" jdbcType="VARCHAR" />
    <result column="fdcImage" property="fdcimage" jdbcType="VARCHAR" />
    <association property="userInfo" javaType="com.aygxy.fmaket.user.entity.UserInfo">
        <id column="userId" property="userid"/>
        <result column="nickName" property="nickname" />
        <result column="userIcon" property="usericon"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    fdcId, userId, fdcType, fdcTitle, fdcTime, fdcContext, fdcImage
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT *
    FROM foundcase f,user_info u
    WHERE f.fdcId = #{fdcid,jdbcType=VARCHAR} and f.userId = u.userId
  </select>
  <select id="selectAllByType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      SELECT *
      FROM foundcase f,user_info u
      WHERE f.fdcType=#{fdcType,jdbcType=INTEGER} AND f.userId = u.userId ORDER BY f.fdcTime DESC
  </select>
  <select id="selectAllFromUser" resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT *
      FROM foundcase f,user_info u
      WHERE f.userId=#{userId,jdbcType=VARCHAR} AND f.userId = u.userId ORDER BY f.fdcTime DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from foundcase
    where fdcId = #{fdcid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aygxy.fmaket.foundcase.entity.FoundCase" >
    insert into foundcase (fdcId, userId,fdcType, fdcTitle, 
      fdcTime, fdcContext, fdcImage)
    values (#{fdcid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR},#{fdctype,jdbcType=INTEGER}, #{fdctitle,jdbcType=VARCHAR}, 
      #{fdctime,jdbcType=TIMESTAMP}, #{fdccontext,jdbcType=VARCHAR}, #{fdcimage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aygxy.fmaket.foundcase.entity.FoundCase" >
    insert into foundcase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fdcid != null" >
        fdcId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="fdctype != null" >
        fdcType,
      </if>
      <if test="fdctitle != null" >
        fdcTitle,
      </if>
      <if test="fdctime != null" >
        fdcTime,
      </if>
      <if test="fdccontext != null" >
        fdcContext,
      </if>
      <if test="fdcimage != null" >
        fdcImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fdcid != null" >
        #{fdcid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="fdctype != null" >
        #{fdctype,jdbcType=INTEGER},
      </if>
      <if test="fdctitle != null" >
        #{fdctitle,jdbcType=VARCHAR},
      </if>
      <if test="fdctime != null" >
        #{fdctime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdccontext != null" >
        #{fdccontext,jdbcType=VARCHAR},
      </if>
      <if test="fdcfindtime != null" >
        #{fdcfindtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdcimage != null" >
        #{fdcimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aygxy.fmaket.foundcase.entity.FoundCase" >
    update foundcase
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="fdctitle != null" >
        fdcTitle = #{fdctitle,jdbcType=VARCHAR},
      </if>
      <if test="fdctime != null" >
        fdcTime = #{fdctime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdccontext != null" >
        fdcContext = #{fdccontext,jdbcType=VARCHAR},
      </if>
      <if test="fdcfindtime != null" >
        fdcFindTime = #{fdcfindtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdcfindaddress != null" >
        fdcFindAddress = #{fdcfindaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where fdcId = #{fdcid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aygxy.fmaket.foundcase.entity.FoundCase" >
    update foundcase
    set userId = #{userid,jdbcType=VARCHAR},
      fdcType = #{fdctype,jdbcType=INTEGER}
      fdcTitle = #{fdctitle,jdbcType=VARCHAR},
      fdcTime = #{fdctime,jdbcType=TIMESTAMP},
      fdcContext = #{fdccontext,jdbcType=VARCHAR},
      fdcImage = #{fdcimage,jdbcType=VARCHAR}
    where fdcId = #{fdcid,jdbcType=VARCHAR}
  </update>
</mapper>